<div class="chats-panel">
  <div class="tooltip">
    <div id="heading">
      <div class="heading-title">Recent messages
        <span class="action-btn mark-as-read" (click)="clearUnreadChats()" *ngIf="unreadChatsCount">
            <span matTooltip="Mark all as read">
              <mat-icon>check_circle</mat-icon>
             </span>
          </span>
      </div>
    </div>

    <ul class="chat-list" *ngIf="! chats || !chats.length">
      <li class="chat-item">You don`t have chats so far</li>
    </ul>

    <ul class="chat-list" *ngIf="chats && chats.length">
      <!--<li class="chat-item" *ngFor="let chat of chats" [ngClass]="{'is-unread': ! chat.data.read}">-->
      <li class="chat-item" *ngFor="let chat of chats">
        <div class="icon col-xs-2">
          <div class="userpic">

          </div>
        </div>
        <div class="message col-xs-10" style="overflow: hidden;">
          <small>Store name</small>
          <br>
          <!--<small class="date">{{chat.data.timestamp | date:'short'}}</small>-->
        </div>
        <!--<div class="action col-xs-2" >-->

          <!--<span class="action-btn delete" (click)="deleteNotification(chat)">-->
                        <!--<span matTooltip="Delete">-->
                          <!--<mat-icon>delete</mat-icon>-->
                         <!--</span>-->
                      <!--</span>-->
        <!--</div>-->
      </li>
    </ul>

    <div class="load-more-pined">
      <button mat-button mat-raised-button routerLink="/chats">See all</button>
    </div>
  </div>
</div>
