.chats-panel{
  width: 10em;
  font-weight: 400;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: #1f2022;
  }

  ul {
    list-style-type: none;
    padding: 0.5rem 1rem;
    margin: 0 0 0.5rem;
  }

  li {
    display: inline-block;
    padding: 0.85rem 1rem;
    color: #1f2022;
  }

  .tooltip {
    &::before {
      content: '';
      position: absolute;
      top: -0.4rem;
      right: 8.3rem;
      border-left: 2rem solid transparent;
      border-right: 2rem solid transparent;
      border-bottom: 1rem solid #19a1ff;
    }
    position: absolute;
    top: 2.5rem;
    line-height: 1.5;
    color: #27303d;
    width: 20rem;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .chat-item {
    display: block;
    padding: 1em;
    height: auto;
    overflow: hidden;
    text-align: left;
    font-size: 0.8em;
    color: #69696a;
    position: relative;
    &.is-unread{
      &:before{
        width: 6px;
        height: 100%;
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(76,175,80, 0.28);
        margin: auto;
      }
    }

    &:not(:last-child){
      border-bottom: 1px solid #efefef;
    }
    .mat-icon{
      vertical-align: bottom;
      padding-right: 1em;
      color: #c6c6c6;
    }
    .icon{
      .userpic{
        display: inline-block;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        background: url(https://www.ischool.berkeley.edu/sites/default/files/default_images/avatar.jpeg) center center no-repeat;
        background-size: cover;
        position: relative;
        top: 0.7em;
      }

    }
    .message{
      padding: 0 1em;
      white-space: initial;
    }
    .action{
      text-align: right;
      .action-btn{
        cursor: pointer;
        &.mark-as-read:hover{
          .mat-icon{
            color: #4CAF50;
          }
        }
        &.delete:hover{
          .mat-icon{
            color: #C62828;
          }
        }
        &.resolved{
          background: #4CAF50;
          cursor: default;
        }
      }
    }
  }

  #heading {
    padding: 0.5rem 1em;
    border-bottom: 0.01em solid #eee;
    text-align: center;
    display: block;
    background: #19a1ff;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    .heading-title{
      font-size: 0.9em;
    }
  }

  .chat-list {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    max-height: 16em;
    overflow: scroll;
    padding: 0 0 2em 0;
  }

  .chat-link {
    position: absolute;
    margin: 0.4rem 0;
  }

  .heading-left, .img-left {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 0 1rem 0 0;
  }

  .heading-left, .user-content {
    grid-column: span 9;
    width: 14rem;
  }

  .heading-right, .img-left {
    grid-column: auto;
  }

  .user-photo {
    display: inline-block;
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
    margin: 0 0.5rem 0 0;
    border-radius: 50%;
    max-width: 100%;
  }

  .store{
    width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }
}

.load-more-pined{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  .mat-button{
    color: #fff;
    width: 100% !important;
    background: #3399ff !important;
  }
}

.mark-as-read{
  float: right;
  cursor: pointer;
  &:hover{
    .mat-icon{
      color: #0d78c8;
    }
  }
}
