<div class="chat-item">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="unread-counter" *ngIf=" chat.showUnreadMark "></div>

      <div mat-card-avatar class="recipient-thumb">
        <img src="{{recipient?.thumb}}" class="img-fit-wrapper" alt="">
      </div>
      <div mat-card-avatar class="sender-thumb">
        <img src="{{sender?.thumb}}" class="img-fit-wrapper" alt="">
      </div>
      <div class="peer-info">
        <mat-card-title><span class="peer-name">{{recipient?.name}}</span></mat-card-title>
        <mat-card-subtitle>{{chat.lastMessage}}</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>
</div>
