.backdrop{
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  &.is-active{
    visibility: visible;
    z-index: 1000;
    opacity: 0.48;
  }
}

.search-component{
  z-index: 1001;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  background: #fff;
  visibility: hidden;
  display: none;
  //background: #f8fafe;


  .search-component-panel {
    height: 100%;
    .tooltip{
      height: 100%;
    }

    .search-component-list {
      height: 100%;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      overflow: scroll;
      padding: 7em 1em  2em 1em;
      box-sizing: border-box;
      //background-color: #f8fafe;
      transition: background 0.3s ease-in-out;

    }

    .notification-link {
      position: absolute;
      margin: 0.4rem 0;
    }

    .store{
      width: 10em;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
    }
  }

  &.has-items{
    height: 80vh !important;
    overflow: auto;
    .search-component-panel .search-component-list{
      padding: 7em 1em  0 1em;
    }
  }

  .search-component-header{
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 2;
    padding: 1.5em 1em;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin: 0;
    font-weight: 500;
    z-index: 4;
    margin-top: -8px;
  }

  .load-more-pined{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3 !important;
    opacity: 1 !important;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.2);
    .mat-button{
      color: #585858;
      width: 100% !important;
      background: #f2f2f2 !important;
      padding: 0.5em;
      opacity: 1 !important;
      &:hover{
      }
    }
  }

  &.is-active{
    visibility: visible;
    display: block;
  }

  .search-item-box{
    padding: 0 15px;
    margin-bottom: 2em;
  }
  .search-item{
    padding: 0 !important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    .photo-thumb{
      overflow: hidden;
      height: 10em;
      background-size: cover;
      background-position: center center;
      width: 100%;
    }
    .info{
      word-break: break-word;
      position: relative;
      padding: 0.4em;
      padding-top: 1em;
      background: rgba(243, 243, 243, 0.3803921568627451);
      border-top: 2px solid rgba(238, 238, 238, 0.29);
      //background: #fff;
      .info-btn{
        position: absolute;
        right: 1em;
        top: -1.2em;
        z-index: 2;
        > button{
          background: #3399ff !important;
        }
      }
      .title{
        font-size: 1em;
      }
      .description{
        padding-top: 1em;
        font-size: 0.9em;
      }
    }
    .mat-card-content{
      padding: 0.4em;
    }
    .search-item-title{
      font-size: 1.1em;
      font-weight: 500;
      padding-top: 0.5em;
      margin-bottom: 0.5em;
    }
    .search-item-btns{
      text-align: center;
      mat-icon{
        color: #757575;
      }
    }
  }
}

.items-set-box{
  .search-item-box:nth-child(4n+1){
    clear: left;
  }
}

.search-results-filter{
  mat-chip{
    cursor: pointer;
  }
  .mat-chip.mat-chip-selected{
    background-color: #3399ff !important;
  }
}
