.help-dialog{
  padding: 2em;
}
.mat-progress-spinner{
  display: inline-block;
  top: 0.4em;
  left: 0.5em;
}

.delete-btn{
  color: #a6a6a6;
  position: relative;
  top: 0.2em;
}

.attachment{
  text-align: left;
  font-size: 0.9em;
}
