
mat-form-field.mat-form-field,
.mat-button{
  font-size: 16px;
}

mat-form-field{
  width: 100%;
  display: block;
}

mat-card-actions{
  margin: 0;
}

.mat-focused .mat-form-field-label{
  color: $colors-primary-blue !important;
}

.mat-focused .mat-form-field-ripple{
  background-color: $colors-primary-blue !important;
}

.mat-input-suffix{
  cursor: pointer;
}

.mat-snack-bar-container{
  padding: 1.5em 2em !important;
  background: $colors-primary-blue;
  // Custom background colors for notify service
  &.mat-snack-bar-info{
    background: $colors-primary-blue;
  }
  &.mat-snack-bar-success{
    background: $colors-primary-green;
  }
  &.mat-snack-bar-error{
    background: $colors-accent-red;
  }
}

.mat-simple-snackbar-action{
  color: rgba(0,0,0,0.4);
}

// Stepper
.mat-step-header .mat-step-icon{
  background: $colors-primary-blue;
}
//
.mat-icon.mat-primary{
  color: $colors-primary-blue;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: $colors-primary-blue;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: $colors-primary-blue;
}
.mat-radio-ripple{
  display: none !important;
}
