@mixin img-fit-wrapper()
{
  position: relative;
  top: 50%;
  left: 50%;

  display: block;

  width: auto;
  width: 100%;
  min-width: 100%;
  max-width: 150%;
  height: auto;
  min-height: 100%;
  max-height: none;

  transform: translate(-50%, -50%);
}
