$transition-time: 0.3s;

$nav-height: 50px;

$colors-primary-blue: #3399ff;
$colors-primary-green: #4CAF50;
$colors-accent-red: #FF5252;

$colors-primary-gray: #212121;
$colors-accent-gray: #999999;

$colors-background-color: #f8fafe;
