
<div class="full">
  <div class="grid">
    <div class="col-xs-12">
      <mat-accordion class="account-settings-accordeon">

        <mat-expansion-panel hideToggle="true" [expanded]="accordeonStep === 0" (opened)="setStep(0)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Security
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

        <div class="col-xs-12 col-sm-10 col-md-9 centered-bootstrap-cell" style="height: auto; overflow: hidden;">
          <div *ngIf="! showPaymentChangeSection">
            <h2>
              This option is only for email-based accounts
            </h2>
          </div>
          <div *ngIf="showPaymentChangeSection">
            <h2>
              Change password
            </h2>
            <div class="example-container">
              <form #f="ngForm" (ngSubmit)="changePassword();" #changePasswordForm="ngForm">


                <mat-form-field>
                  <input matInput placeholder="New password"  minlength="6"  [type]="hide ? 'text' : 'password'" [(ngModel)]="newPassword" name="password" #password="ngModel" required>
                  <!--<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>-->
                  <mat-error *ngIf="password.invalid  && password.touched">
                    <mat-error *ngIf="password.hasError('required')">
                      Password is required
                    </mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">
                      Password min length should be 6 characters
                    </mat-error>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput type="password"  minlength="6"  placeholder="Confirm new password" [ngModel]="passwordConfirmationField" name="passwordConfirmation" #passwordConfirmation="ngModel" required>
                  <mat-error *ngIf="passwordConfirmation.invalid  && passwordConfirmation.touched">
                    <mat-error *ngIf="passwordConfirmation.hasError('required')">
                      Confirmation password is required
                    </mat-error>
                    <mat-error *ngIf="passwordConfirmation.hasError('minlength')">
                      Password min length should be 6 characters
                    </mat-error>
                  </mat-error>
                </mat-form-field>
                <div class="mat-error" style="font-size: 0.8em;" *ngIf="passwordConfirmation.dirty && (passwordConfirmation.value != password.value)">
                  <b>Entered passwords do not match</b>
                  <br>
                </div>



                <div class="align-center">
                  <button mat-raised-button class="btn submit-btn" type="submit" (click)="resetNewPassword($event)">Reset</button>
                  &nbsp;
                  &nbsp;
                  <button mat-raised-button class="btn submit-btn" type="submit" [disabled]="f.invalid">Change</button>
                  <!--<button mat-raised-button class="btn submit-btn" type="submit" [disabled]="f.invalid">Sign In</button>-->
                </div>

                <div class="spinner-box fixed" *ngIf="showSpinner">
                  <mat-spinner [diameter]="100"></mat-spinner>
                </div>

              </form>
              <br>
              <br>
            </div>
          </div>

        </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle="true" [expanded]="accordeonStep === 1" (opened)="setStep(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Billing & transcations
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>attach_money</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-tab-group>
            <mat-tab label="Billing details">
              <div class="col-xs-12" style="height: auto; overflow: hidden;">
                <div class="empty-message" *ngIf="!accountStatus || accountStatus && !accountStatus['balance']">
                    Account Balance: $0
                </div>
                <div *ngIf="accountStatus && accountStatus['balance'] != 0">
                  <div class="col-xs-12">
                    <h3>Account Balance: <span appUsdToBtc [usd]="accountStatus && accountStatus['balance']"></span></h3>
                    <h3>Billing # {{accountStatus['billingId']}}</h3>
                    <mat-table #table [dataSource]="storesToPayFor">

                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                      </ng-container>

                      <!-- Position Column -->
                      <ng-container matColumnDef="service">
                        <mat-header-cell *matHeaderCellDef> Service Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> Shop </mat-cell>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Item Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                      </ng-container>

                      <!-- Weight Column -->
                      <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="period">
                        <mat-header-cell *matHeaderCellDef>Billing period <br>(from - to) date</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                    <span *ngIf="element.period">
                      from: <b>{{element.period.fromPeriod}}</b> <br>
                      to: &nbsp;&nbsp;&nbsp;&nbsp;<b>{{element.period.toPeriod}}</b>
                    </span>
                        </mat-cell>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>Service status</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                  </div>
                  <br>
                  <div class="align-center">
                    <button mat-raised-button class="btn submit-btn" routerLink="/payment">Proceed to payment</button>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Past transactions">
              <div class="empty-message" *ngIf="pastTransactionsTable && !pastTransactionsTable.length">
                No past transactions yet
              </div>
              <div *ngIf="pastTransactionsTable && pastTransactionsTable.length">
                <div class="col-xs-12">
                  <mat-table #tablePastTransaction [dataSource]="pastTransactionsTable">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="timestamp">
                      <mat-header-cell *matHeaderCellDef> Transaction date </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.timestamp | date}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="type">
                      <mat-header-cell *matHeaderCellDef> Transaction type </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="amount">
                      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="paymentId">
                      <mat-header-cell *matHeaderCellDef>Payment ID</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <div style="padding-right: 10px;">
                            {{element.paymentId}}
                        </div>
                      </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="billingId">
                      <mat-header-cell *matHeaderCellDef>Billing Record</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.billingId}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="pastTransactionsDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: pastTransactionsDisplayedColumns;"></mat-row>
                  </mat-table>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>


        </mat-expansion-panel>

        <mat-expansion-panel
          hideToggle="true"
          [expanded]="accordeonStep === 2" (opened)="setStep(2)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Two-factor authentication
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>security</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="col-xs-12 col-sm-10 col-md-9 centered-bootstrap-cell" style="height: auto; overflow: hidden;">
            <b><mat-icon color="primary" style="vertical-align: bottom;">{{twoFactorAuthEnabled ? 'done' : 'error'}}</mat-icon> Two-factor authentication - {{twoFactorAuthEnabled ? 'enabled' : 'disabled'}}</b>
            <br>
            <mat-card>
              <p *ngIf="twoFactorAuthEnabled">
                <br>
                <button  mat-button (click)="disableTwoFactor()">Disable</button>
                <button  mat-button (click)="resetVerificationToken()">Reset verification token</button>
              </p>

              <div class="clearfix" *ngIf="!twoFactorAuthEnabled || resetTokenPrompt">
                <div class="col-xs-3 align-center">
                  <div class="qr-code-spinner-wr " *ngIf="!qrCodeData">
                    <br><br>
                    <br>
                    <mat-spinner [diameter]="50"></mat-spinner>
                  </div>
                  <img [src]="qrCodeData" class="qr-code" alt="">
                </div>
                <div class="col-xs-9">
                  <p><b>Scan with google authenticator and enter the code to activate:</b></p>
                  <form>
                    <mat-form-field>
                      <input matInput placeholder="Verification token" [(ngModel)]="verificationToken" name="enteredCode" #enteredCode="ngModel">
                    </mat-form-field>
                  </form>
                  <button class="btn" type="submit" mat-button (click)="verify()" >Verify</button>
                </div>
              </div>

            </mat-card>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="true" [expanded]="accordeonStep === 3" (opened)="setStep(3)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              My stores <b>(for demo purpose)</b>
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>shopping_cart</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          Choose stores to connect with your account and click save below
          <br>

          <div class="spinner-wr" *ngIf="storesLoading">
            <mat-spinner [diameter]="100"></mat-spinner>
          </div>

          <div *ngIf="stores">
            <div *ngFor="let store of stores">
              <mat-checkbox [(ngModel)]="selectedStores[store.Settings.storeId]" [value]="store.Settings.storeId">{{store.Settings.storeId}}</mat-checkbox>
            </div>
          </div>

          <button mat-raised-button class="btn submit-btn" (click)="saveStores()">Save</button>

        </mat-expansion-panel>


      </mat-accordion>
    </div>



  </div>
</div>
