.grid{
  height: 100%;
  overflow: auto;
  padding: 5em 0 4em 0;
  box-sizing: border-box;
}

// For accordeon
.account-settings-accordeon .mat-card{
  padding: 0;
  box-shadow: none;
}
.account-settings-accordeon .mat-expansion-panel-header-title,
.account-settings-accordeon .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.account-settings-accordeon .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.account-settings-accordeon{
  .mat-expansion-panel-header-description{
    flex-grow: 0;
  }
}

.qr-code-spinner-wr{
  .mat-spinner{
    margin: 0 auto;
    display: inline-block;
  }
}

.qr-code{
  display: inline-block;
  margin: 0 auto;
}

.paypal-btn{
  display: inline-block;
  height: auto;
  overflow: hidden;
  height: 2em;
  vertical-align: middle;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}


