<div class="notify-about-payment-dialog">
  <mat-card class="example-card">

    <img mat-card-image src="/assets/img/payment.jpg">
    <mat-card-content>
      <p>
        Your account balance has increased. Please procced to payment details on account-settings page.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="proceedTwoPayment()">Proceed to payment</button>
      <button mat-button (click)="closeDialog()">Skeep for now</button>
    </mat-card-actions>
  </mat-card>

</div>
