<div class="full">
  <div class="grid">

  <div class="discovery-search">
    <div class="search-component-panel">
      <div class="tooltip">

        <div class="spinner-box absolute" *ngIf="showSpinner">
          <mat-spinner [diameter]="100"></mat-spinner>
        </div>

    <div class="col-xs-12">
      <div class="col-xs-12 empty-message" *ngIf="!searchResults && ! searchResults.length">
        No items were loaded
      </div>
      <div class="search-component-list" *ngIf="searchResults && searchResults.length">


        <h3 mat-subheader class="search-component-header">Discovery search</h3>

        <div class="listings-result">
          <br>
          <br>
          <div class="items-set-box col-xs-12">
            <div class="search-item-box col-xs-12 col-sm-3" *ngFor="let item of searchResults">

              <div class="search-item">
                <div class="photo-thumb">
                  <img [src]="item?.thumb" class="img-fit-wrapper" alt="">
                </div>
                <div class="info">
                  <div class="info-btn">
                    <button mat-mini-fab>
                      <mat-icon aria-label="Example icon-button with a heart icon">launch</mat-icon>
                    </button>
                  </div>
                  <div class="title">
                    {{item?.data.title}}
                  </div>
                  <div class="description">
                    {{item?.data.description | htmlToPlaintext | getExcerpt}}
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="col-xs-12 align-center" *ngIf="notificationsAll && (notificationsAll.length > limitToShow)">-->
            <div class="col-xs-12 align-center" *ngIf="moreListingsToLoadFound">
              <button mat-mini-fab class="bg-default" (click)="loadMoreListings()">
                <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
              </button>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
  </div>

  </div>

  </div>
  </div>


