<footer>
  <div class="container">
    <div class="col-xs-12">
      <div class="footer-nav">
        &copy; Bazaarify 2018 &nbsp;&nbsp;|&nbsp;&nbsp; <a class="cursor-pointer" (click)="openHelpDialog()">Contact Us</a>

       <div class="social-like-feed">
         <div class="facebook-like item">
           <!--<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>-->
           <fb-like href="https://www.facebook.com/Bazaarify-1508072145979858/" share="false" showFaces="false" layout="button_count" size="small"></fb-like>
         </div>
         <div class="twitter-follow item">
           <a class="twitter-follow-button"
              href="https://twitter.com/bazaarify"
              data-show-count="true"
              data-show-screen-name="false"
              data-size="small"></a>
         </div>
       </div>
      </div>
    </div>
  </div>
</footer>
