<div class="notify-about-twofactor-dialog">
  <mat-card class="example-card">

    <img mat-card-image src="/assets/img/twofactor.jpg">
    <mat-card-content>
      <p>
        Securing your account with two-factor auth is a quick and straightforward process which improves your protection against hacking and identity theft.
        We highly <b>recommend you to enable</b> two-factor auth for your account
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="enableTwoFactor()">Enable</button>
      <button mat-button (click)="closeDialog()">Skeep for now</button>
    </mat-card-actions>
  </mat-card>

</div>
