<div class="map-bg">
  <img class="p1" src="/assets/img/map/1part.svg" alt="">
  <img class="p2" src="/assets/img/map/2part.svg" alt="">
  <img class="p3" src="/assets/img/map/3part.svg" alt="">
</div>

<div class="logo">
  <img src="/assets/img/logo.svg" alt="">
</div>

<div class="col-xs-12 col-md-10 col-lg-8 centered-bootstrap-cell">
  <div class="login-form">
    <div class="form-title">Forgot your password?</div>
    <div class="form-subtitle">Submit the form below to receive the password recovery link</div>
  </div>


  <div class="col-md-10 col-lg-7 centered-bootstrap-cell">
    <div class="form-wrap">
      <form #f="ngForm" (ngSubmit)="sendResetPasswordEmail();">

        <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="Email" [(ngModel)]="userEmail" name="email" #email="ngModel" placeholder="Email" required email>
          <mat-error *ngIf="email.touched && email.invalid">
            <mat-error *ngIf="email.hasError('email') && email.value">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              Email address is required
            </mat-error>
          </mat-error>
        </mat-form-field>

        <div>
          <a routerLink="/login" class="color-gray accent fz-small">Already have an account? </a>
          <span class="color-gray accent fz-small">&nbsp;|&nbsp;</span>
          <a routerLink="/register" class="color-gray accent fz-small">Create new account</a>
          <br>
          <br>
        </div>

        <div class="recaptcha" *ngIf="RecaptchaApiKey">
          <re-captcha
            #captchaRef="reCaptcha"
            (resolved)="resolved($event)"
            siteKey="{{RecaptchaApiKey}}"
          ></re-captcha>
        </div>

        <div class="align-center">
          <button mat-raised-button class="btn submit-btn" type="submit" [disabled]="f.invalid || ! captchaResponse">Submit</button>
        </div>

        <div class="spinner-box fixed" *ngIf="showSpinner">
          <mat-spinner [diameter]="100"></mat-spinner>
        </div>
      </form>
      <br>
      <br>
    </div>

  </div>

</div>
